@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {  
    overflow-x: hidden;
}
ul li{
    list-style: none;
}
a {
    text-decoration: none;
}
#button {
    display: inline-block;
    padding: 7px 15px;
    background-color: #896EFF;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    border-radius: 5px;
}
.info_text {
    text-align: center;
}
.info_text a {
    display: inline-block;
    background-color: #EBE7FF;
    padding: 4px 10px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 600;
}
.info_text h2 {
    color: #18265e;
    margin: 6px 0 11px 0;
}
.info_text p {
    font-size: 13px;
    color: rgb(80, 77, 77);
    font-weight: 500;
}

/* -------------- HEADER ------------- */

header {
  background-color: #F6F9FF;
  height: 65px;
  position: sticky;
  top: 0;
}
header .logo {
    line-height: 60px;
    margin-top: 3px;
}
header .logo:hover {
    cursor: pointer;
}
header .logo img {
    float: left;
    width: 40px;
    margin: 10px 4px 0 0;
}
header .logo h2 {
    font-size: 18px;
    font-weight: 500;
}
header ul{
    float: right;
}
header ul li{
    display: inline-block;
    padding: 18px 0 0 18px;
}
header ul li a{
    font-size: 13px;
    color: #4E4B4B;
    transition: .5s ease;
    font-weight: 500;
}
header ul li a:hover{
    color: #0000ff;
}
header ul li:last-child a {
    margin-left: 30px;
    padding: 7px 23px;
    border-radius: 3px;
    background-color: #42D897;
    color: #fff;
    transition: .5s ease;
}
header ul li:last-child a:hover {
    background-color: #ff0000;
}
input {
    display: none;
}

/* ---------- Remote Section ---------- */
 
.remote_section {
    height: 490px;
    background-color: #F6F9FF;
    border-bottom: 1px solid #0000002f;
}
.remote_section .main_text{
   padding-top: 95px;
}
.remote_section .main_text span {
    display: inline-block;
    width: 20px;
    height: 3px;
    background-color: #896EFF;
    margin: 0 6px 4px 0;
}
.remote_section .main_text a{
    color: #7052f7;
    font-weight: 600;
    font-size: 15px;
}
.remote_section .main_text h1{
    font-size: 37px;
    color: #1F2471;
}
.remote_section .main_text p {
    width: 90%;
    margin-top: 10px;
    color: #48484d;
}
.remote_section .main_text #button {
    margin: 22px 10px 0 0;
}
.remote_section .main_image img {
    width: 100%;
}

/* ---------- Partners ---------- */

.partners {
    height: 450px;
    background-color: #F9F8FF;
}
.partners .image {
    margin-top: 85px;
}
.partners .image img {
    width: 80%;
    margin: 0 auto;
}
.partners .red_stick {
    text-align: center;
}
.partners .red_stick .stick {
    display: inline-block;
    width: 50px;
    height: 4px;
    background-color: #ff0000;
    margin: 60px 0;
}

/* ---------- Card Section ---------- */

.card_section {
    height: 400px;
    background-color: #F9F8FF;
}
.card_section .card_box .card {
    padding: 20px;
    width: 72%;
    margin: 0 auto;
    height: 270px;
    border-radius: 10px;
    background-color: #FDFDFE;
    box-shadow: 0 0 15px rgba(39, 77, 191, 0.138);
    background-image: url("../img/core-img/cards-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -15px;
}
.card_section .card_box .card img {
    width: 30px;
}
.card_section .card_box .card h3 {
    font-size: 15px;
    font-weight: 600;
    margin: 18px 0 13px 0;
    color: #1F2471;;
}
.card_section .card_box .card p {
    font-size: 12px;
}



























    /* --------------- Media --------------- */

@media only screen and (max-width: 960px) {
	.container {
		width: 90%;
	}
    
    /* --------------- Toggle Menu --------------- */
    
    .nav {
        display: block;
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0px;
        right: 0px;
        z-index: 5;
        background: none;
    }
    .nav input {
        display: block;
        position: absolute;
        right: 37px;
        top: 17.5px;
        width: 43px;
        height: 30px;
        cursor: pointer;
        z-index: 20;
        opacity: 0;
    }
    .nav span {
        display: block;
        position: absolute;
        right: 44px;
        top: 20px;
        width: 30px;
        height: 5px;
        border-radius: 3px;
        background-color: #170ce8;
        z-index: 11;
        transition: .5s ease;
        transform-origin: 4px 0;
    }
    .nav span::after {
        content: "";
        position: absolute;
        top: 10px;
        width: 30px;
        height: 5px;
        border-radius: 3px;
        background-color: #170ce8;
        z-index: 11;
        transition: .7s ease-out;
    }
    .nav span::before{
        content: "";
        position: absolute;
        top: 20px;
        width: 30px;
        height: 5px;
        border-radius: 3px;
        background-color: #170ce8;
        z-index: 11;
        transition: .5s ease;
    } 
    .nav span:first-child{
        transform-origin: 0% 0%;
    }  
    .nav span:before{
        transform-origin: 0% 100%;
    } 
    .nav input:checked ~ span {
        transform: rotate(45deg) translate(-1px, -2px);
        background-color: #000000;
    }
    .nav input:checked ~ span:after{
        opacity: 1;
        transform: rotate(-46deg) translate(200px, 0px);
        background-color: #000000;
    }
    .nav input:checked ~ span:before{
        transform: rotate(-90deg) translate(7px, 18px);
        background-color: #000000;
    }
    ul {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100vh;
        background-color: #ECF6FD;
        transform-origin: 0 0;
        transform: translate(0%, -100%);
        transition: .5s ease;
    }
    .nav ul{
        padding: 50px;
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .nav li{
        text-align: center;
        width: 100%;
        padding: 20px 0;
        display: block;
    }
    .nav li a {
        padding: 0;
        font-size: 18px;
        font-weight: 500;
    }
    header ul li:last-child a {
        margin-left: 0px;
        padding: 7px 23px;
        border-radius: 3px;
        background-color: #42D897;
        color: #fff;
        transition: .5s ease;
    }
    header ul li:last-child a:hover {
        background-color: #ff0000;
    }
    .nav ul li:hover{
        color: #ffffff;
    }
    .nav input:checked ~ ul{
        transform: none;
        position: fixed;
        height: 100vh;
        text-align: center;
        overflow: hidden;
    } 
}