@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {  
    overflow-x: hidden;
}
ul li{
    list-style: none;
}
a {
    text-decoration: none;
}
.clr{
    clear: both;
}
#button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #896EFF;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    border-radius: 5px;
}
.info_text {
    text-align: center;
}
.info_text a {
    display: inline-block;
    background-color: #EBE7FF;
    padding: 4px 10px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 600;
}
.info_text h2 {
    color: #18265e;
    margin: 6px 0 11px 0;
}
.info_text p {
    width: 40%;
    margin: 0 auto;
    font-size: 13px;
    color: rgb(80, 77, 77);
    font-weight: 500;
}

/* -------------- HEADER ------------- */

header {
  background-color: #F6F9FF;
  height: 65px;
  position: sticky;
  top: 0;
  z-index: 200;
}
header .logo {
    line-height: 60px;
    margin-top: 3px;
}
header .logo:hover {
    cursor: pointer;
}
header .logo img {
    float: left;
    width: 40px;
    margin: 10px 4px 0 0;
}
header .logo h2 {
    font-size: 18px;
    font-weight: 500;
}
header ul{
    float: right;
}
header ul li{
    display: inline-block;
    padding: 18px 0 0 18px;
}
header ul li a{
    font-size: 13px;
    color: #4E4B4B;
    transition: .5s ease;
    font-weight: 500;
}
header ul li a:hover{
    color: #0000ff;
}
header ul li:last-child a {
    margin-left: 30px;
    padding: 8px 23px;
    border-radius: 3px;
    background-color: #42D897;
    color: #fff;
    transition: .5s ease;
}
header ul li:last-child a:hover {
    background-color: #ff0000;
}
header input {
    display: none;
}

/* ---------- Remote Section ---------- */
 
.remote_section {
    height: 460px;
    background-color: #F6F9FF;
    border-bottom: 1px solid #0000002f;
}
.remote_section .main_text{
   padding-top: 95px;
}
.remote_section .main_text span {
    display: inline-block;
    width: 20px;
    height: 3px;
    background-color: #896EFF;
    margin: 0 6px 4px 0;
}
.remote_section .main_text a{
    color: #7052f7;
    font-weight: 600;
    font-size: 15px;
}
.remote_section .main_text h1{
    font-size: 37px;
    color: #1F2471;
}
.remote_section .main_text p {
    width: 90%;
    margin-top: 10px;
    color: #48484d;
}
.remote_section .main_text #button {
    margin: 22px 10px 0 0;
}
.remote_section .main_image img {
    width: 100%;
}

/* ---------- Partners ---------- */

.partners .image {
    margin-top: 60px;
}
.partners .red_stick {
    text-align: center;
}
.partners .red_stick .stick {
    display: inline-block;
    width: 50px;
    height: 4px;
    background-color: #ff0000;
    margin: 60px 0 70px 0;
}

/* ---------- Card Section ---------- */

.card_section {
    height: 800px;
    background-color: #F9F8FF;
}
.card_section .card_box {
    margin-top: 60px;
}
.card_section .card_box .card {
    padding: 20px;
    width: 72%;
    margin: 0 auto;
    height: 270px;
    border-radius: 10px;
    background-color: #FDFDFE;
    box-shadow: 0 0 15px rgba(39, 77, 191, 0.138);
    background-image: url("../img/core-img/cards-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -15px;
}
.card_section .card_box .card img {
    width: 30px;
}
.card_section .card_box .card h3 {
    font-size: 15px;
    font-weight: 600;
    margin: 18px 0 13px 0;
    color: #1F2471;;
}
.card_section .card_box .card p {
    font-size: 12px;
}

/* ---------- Team Section ----------- */

.team_section {
    background-color: #F9F8FF;;
    height: 1400px;
}
.team_section .block {
    padding-top: 50px;
}
.team_section .block:first-child{
    margin-top: 0;
}
.team_section .block .image img {
    width: 100%;
    margin: 0 auto;
}
.team_section .block .text a {
    display: inline-block;
    background-color: #EBE7FF;
    padding: 4px 10px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 600;
    margin-top: 25px;
}
.team_section .block .text h2 {
    font-size: 30px;
    font-weight: 600;
    margin: 10px 0;
}
.team_section .block .text p {
    color: #48484d;
    margin: 20px 0;
}
.team_section .block .text #button {
    padding: 10px 20px;
}

/* --------- Trial Section ---------- */
    
.trial_section {
     height: 550px;
    background-image: url("../img/bg-img/trial-bg.png");
     background-size: cover;
}
.trial_section img {
    width: 100%;
    margin-top: 50px;
}
.trial_section .text{
    margin-top: 110px;
}
.trial_section .text a{
    display: inline-block;
    background-color: #EBE7FF;
    padding: 5px 15px;
    color: #5b41d7;
    font-size: 15px;
    font-weight: bold;
    border-radius: 7px;
    margin-bottom: 10px;
}
.trial_section .text h3{
    font-size: 30px;
    color: #ffffff;
}
.trial_section .text p{
    color: rgb(255, 255, 255);
    margin: 10px 0 10px 0;
    line-height: 25px;
}
.trial_section .text .button{
    display: inline-block;
    margin: 5px 0 0 12px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #896EFF;
    font-size: 9px;
    font-weight: bold;
    padding: 12px 25px;
    border-radius: 10px;
}
.trial_section .card{
    margin-top: 60px;
    width: 100%px;
    height: 120px;
    background-color: #A893FF;
    border-radius: 20px;
    position: relative;
}
.trial_section .card input{
    width: 95%;
    margin: 25px 0 10px 12px;
    height: 28px;
    border-radius: 15px;
    outline: none;
    font-weight: 500;
    padding-left: 30px;
}
.trial_section .card svg{
    position: absolute;
    top: 27px;
    left: 19px;
    width: 20px;
    opacity: .8;
}

/* --------- Work Section ---------- */

.work_section {
    height: 800px;
    padding-top: 60px;
    background-color: #F9F8FF;
}

.work_section .card_box {
    margin-top: 60px;
}
.work_section .card_box .card {
    padding: 20px;
    width: 75%;
    margin: 0 auto;
    height: 270px;
    border-radius: 10px;
    background-color: #FDFDFE;
    box-shadow: 0 0 15px rgba(39, 77, 191, 0.138);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -15px;
}
.work_section .card_box .card img {
    width: 100%;
}
.work_section .card_box .card h3 {
    font-size: 15px;
    font-weight: 600;
    margin: 18px 0 13px 0;
    color: #1F2471;;
}
.work_section .card_box .card p {
    font-size: 12px;
}
.work_section .space {
    margin-top: 60px;
}

/* ---------- User Section ----------- */

.user_section {
    height: 550px;
    background-color: #F9F8FF;
}
.user_section img {
    width: 100%;
}
.user_section .block {
    padding-top: 23px;
}
.user_section .box{
    display: flex;
    align-items: center;
    width: 90%;
    height: 100px;
    box-shadow: 0 0 10px #5c586d43;
    margin-bottom: 45px;
}

.user_section .box img{
    width: 60px;
    margin: 0 15px;
}

.user_section .box h4{
    font-size: 15px;
    color: #0c0c0cd2;
    margin-bottom: 5px;
}

.user_section .box p{
    font-size: 13px;
    color: #858080;
    width: 80%;
}

/* -------------- Business Section --------------- */

.section8{
    background-color: #ECF6FD;
    height: 670px;
    padding-top: 70px;
}

.section8 .txt{
    text-align: center;
    padding-top: 50px;
}

.section8 .txt a{
    display: inline-block;
    background-color: #EBE7FF;
    padding: 5px 15px;
    color: #5B41D7;
    font-size: 12px;
    font-weight: bold;
    border-radius: 7px;
    margin: 15px;
}

.section8 .txt h3{
    color: #13287E;
    font-size: 25px;
}

.section8 .txt p{
    color: rgba(106, 102, 102, 0.755);
    width: 40%;
    margin: 15px auto;
}

.section8 .boxes{
    margin-top: 60px;
}

.section8 .box {
    height: 330px;
    text-align: center;
}

.section8 .box span{
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 30px 0 10px 0;
    color: rgb(56, 55, 55);
}

.section8 .box h2{
    color: #3964F9;
    font-size: 28px;
}

.section8 .box p{
    font-size: 12px;
    color: rgb(114, 118, 118);
    line-height: 22px;
}

.section8 .box .time{
    margin: 15px 0 20px 0;
}

.section8 .box a{
    display: inline-block;
    margin: 20px 0 20px 0;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #896EFF;
    font-size: 7px;
    font-weight: bold;
    padding: 8px 35px;
    border-radius: 10px;
}

.section8 .shadow{
    width: 70%;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(59, 71, 155, 0.46);
}

/* ----------- Footer Section ---------- */

.footerSection {
    height: 1200px;
    background-image: url("../img/bg-img/footer-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #F9F8FF;
    padding-top: 70px;
    position: relative;
}
.footerSection .txt{
    text-align: center;
}

.footerSection .txt a{
    display: inline-block;
    background-color: #EBE7FF;
    padding: 5px 15px;
    color: #5B41D7;
    font-size: 12px;
    font-weight: bold;
    border-radius: 7px;
    margin: 15px;
}

.footerSection .txt h3{
    color: #13287E;
    font-size: 25px;
}

.footerSection .txt p{
    color: rgba(106, 102, 102, 0.755);
    width: 40%;
    margin: 15px auto;
}

.footerSection .cards{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.footerSection .card{
    background-color: #fff;
    width: 350px;
    height: 230px;
    border-radius: 10px;
    text-align: center;
    margin-right: 20px;
}

.footerSection .card img{
    width: 60px;
    border-radius: 50%;
    margin-top: 15px;
}

.footerSection .card h4 {
    color: rgba(36, 35, 35, 0.707);
}

.footerSection .card p{
    font-size: 12px;
    line-height: 15px;
    width: 80%;
    margin: 10px auto;
    color: rgb(119, 117, 117);
}

.footerSection .smallButtons{
    text-align: center;
}


.footerSection .smallButtons a{
    display: inline-block;
    margin: 50px 10px 30px 0;
    color: black;
    width: 35px;
    height: 35px;
    background-color: #fff;
    padding: 7px;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    transition: .3s ease;
}

.footerSection .smallButtons a:hover,.footerSection .smallButtons a.active{
    background-color: #42D897;
    color: white;
}


.footerSection .block .inner{
    background-color: #4742F6;
    height: 130px;
    text-align: center;
    margin: 100px auto;
    width: 90%;
    padding: 20px;
    position: relative;
    border-radius: 15px;
}

.footerSection .block .txt{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footerSection .block h3{
color: rgb(187, 182, 182);
}

.footerSection .block h2{
    color: rgb(218, 210, 210);
    margin-top: 10px;
}


.footerSection .block .button a{
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    color: #ffffff;
    background-color: #FB585A;
    padding: 12px 22px;
    border-radius: 5px;
    margin-right: 30px;
    position: absolute;
    right: 0;
    top: 50px;
}

/* footer */

.footer{
    margin: 0 auto;
    width: 90%;
}

.footer .logo{
    align-items: center;
}

.footer .logo:hover{
    cursor: pointer;
}

.footer .logo img{
    position: relative;
    top: -10px;
    display: inline;
    width: 40px;
    margin-right: 5px;
}

.footer .logo h2{
    display: inline;
    font-weight: 500;
    color: #4D4A4A;
    position: relative;
    top: -46px;
    left: -20px;
}

.footer .footerTxt1,.footerTxt2,.footerTxt3,.footerTxt4 p{
    font-size: 15px;
    color: #ffffff;
    line-height: 20px;
}

.footer .footerTxt2 p{
margin-left: 100px;
}

.footer .footerTxt1 p{
    margin-top: -40px;
    }

.bx{
    margin-top: 5px;
    padding: 4px;
    background-color: #42D897;
}

.bx:hover{
    cursor: pointer;
}


.footerSection .topButton .top{
    position: absolute;
    bottom: 90px;
    right: 30px;
    color: #000;
    font-weight: bold;
    transform: rotate(-90deg);
}

.footerSection .topButton span{
    display: inline-block;
    width: 30px;
    margin: 0 10px 4px 0;
    border-top: 3px solid #000;
    
}


/* ---------- Media ---------- */

@media only screen and (max-width: 960px) {
    .container {
        width: 90%;
    }
    
    /* --------------- Toggle Menu --------------- */
    
    .nav {
        display: block;
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0px;
        right: 0px;
        z-index: 5;
        background: none;
    }
    .nav input {
        display: block;
        position: absolute;
        right: 37px;
        top: 17.5px;
        width: 43px;
        height: 30px;
        cursor: pointer;
        z-index: 20;
        opacity: 0;
    }
    .nav span {
        display: block;
        position: absolute;
        right: 44px;
        top: 20px;
        width: 30px;
        height: 5px;
        border-radius: 3px;
        background-color: #170ce8;
        z-index: 11;
        transition: .5s ease;
        transform-origin: 4px 0;
    }
    .nav span::after {
        content: "";
        position: absolute;
        top: 10px;
        width: 30px;
        height: 5px;
        border-radius: 3px;
        background-color: #170ce8;
        z-index: 11;
        transition: .4s ease-out;
    }
    .nav span::before{
        content: "";
        position: absolute;
        top: 20px;
        width: 30px;
        height: 5px;
        border-radius: 3px;
        background-color: #170ce8;
        z-index: 11;
        transition: .5s ease;
    } 
    .nav span:first-child{
        transform-origin: 0% 0%;
    }  
    .nav span:before{
        transform-origin: 0% 100%;
    } 
    .nav input:checked ~ span {
        transform: rotate(45deg) translate(-1px, -2px);
        background-color: #000000;
    }
    .nav input:checked ~ span:after{
        opacity: 0;
        transform: rotate(-46deg) translate(50px, 0px);
        background-color: #000000;
    }
    .nav input:checked ~ span:before{
        transform: rotate(-90deg) translate(7px, 18px);
        background-color: #000000;
    }
    ul {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100vh;
        background-color: #ECF6FD;
        transform-origin: 0 0;
        transform: translate(0%, -100%);
        transition: .5s ease;
    }
    .nav ul{
        padding: 50px;
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .nav li{
        text-align: center;
        width: 100%;
        padding: 20px 0;
        display: block;
    }
    .nav li a {
        padding: 0;
        font-size: 18px;
        font-weight: 500;
    }
    header ul li:last-child a {
        margin-left: 0px;
        padding: 7px 23px;
        border-radius: 3px;
        background-color: #42D897;
        color: #fff;
        transition: .5s ease;
    }
    header ul li:last-child a:hover {
        background-color: #ff0000;
    }
    .nav ul li:hover{
        color: #ffffff;
    }
    .nav input:checked ~ ul{
        transform: none;
        position: fixed;
        height: 120vh;
        text-align: center;
        overflow: hidden;
        overflow-x: hidden;
    } 
}


@media only screen and (max-width: 576px) {
    .container {
        width: 90%;
    }
    .info_text p{
        width: 90%;
    }
    .remote_section {
        height: 750px;
    }
    .remote_section .main_text{
        padding-top: 20px;
     }
     .partners {
        height: 360px;
        background-color: #F9F8FF;
    }
    .partners .image {
        margin-top: 20px;
        text-align: center;
    }
    .partners .image img {
        width: 90px;
        margin: 10px 0;
    }
    .card_section {
        height: 1430px;
    }
    .card_section .card_box{
        margin-top: 60px;
    }
    .team_section {
        height: 2230px;
    }
    .trial_section {
        height: 970px;
    }
    .work_section {
        height: 1460px;
    }
    .user_section {
        height: 820px;
    }
    .user_section .box{
        display: flex;
        align-items: center;
        width: 100%;
        height: 100px;
        box-shadow: 0 0 10px #5c586d43;
        margin-bottom: 45px;
        margin-top: 30px;
    }
    .user_section .box p {
        font-size: 11px;
    }
    .section8 {
        height: 1300px;
    }
    .footerSection  {
        height: 2000px;
        position: relative;
    }
    .footerSection .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footerSection .cards .card{
        margin-bottom: 20px;
        margin-left: 20px;
    }
    .footerSection .block .inner{
        height: 270px;
        padding: 50px;
        margin-left: 15px;
    }
    .footerSection .block .inner a{
        top: 190px;
        right: 100px;
    }
    .footerSection .ppd{
        padding: 15px;
    }
    .footerSection .logo {
        width: 50%;
    }
    .footerSection .logo h2 {
        margin-left: 60px;
    }
    .footerSection .ppd p{
        margin-left: 0;
    }
    .topButton {
        position: relative;
        right: -30px;
        bottom: -1200px;
    } 
}